#registerForm {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: white;
	border-radius: 16px;
	margin: 2rem -1rem;
	padding-bottom: 2rem;
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#registerForm > * {
	padding: 0.5rem 1rem;
}
#registerForm > h2 {
	text-align: center;
}
#registerForm > h2 span {
	font-weight: 500;
}
#registerForm > form {
	box-sizing: border-box;
	width: 90%;
	margin: 0 auto;
}

#input {
	font-size: var(--size-1);
	box-sizing: border-box;
	width: 100%;
	border: 0;
	border-bottom: var(--color-4) 2px solid;
	padding: 1rem;
	resize: none;
}
#input:focus,
#input:valid {
	outline: 0;
	border-color: black;
}
#loginButton,
#registerForm button {
	color: black;
	background: var(--color-3);
	padding: 1rem 2rem;
	border: 0;
	border-radius: 20px;
	width: 100%;
	font-size: var(--size-1);
	text-transform: uppercase;
	letter-spacing: 1.25px;
	transition: all 0.3s;
	cursor: pointer;
}
#registerForm button {
	margin-top: 2rem;
	background: var(--color-1);
	color: white;
}

#registerForm button:hover,
#registerForm button:not(:valid) {
	background: var(--color-2);
}

@media (min-width: 768px) {
	#registerForm {
		width: 500px;
		margin: 2rem auto;
		/* margin: 0;
		margin-bottom: 2rem; */
	}
	#registerForm > * {
		padding-top: 2rem;
	}
	#registerForm > form {
		padding: 1rem;
	}
}
