#movie {
	cursor: pointer;
	min-height: 135px;
	width: 90vw;
	border-radius: 5px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
		0 4px 6px -4px rgb(0 0 0 / 0.1);
	border: 1px rgb(209 213 219) solid;
	display: flex;
	flex-flow: row;
}

/* width={180.4}
					height={273} */
#movie img {
	background-color: rgb(209 213 219);
	color: black;
	text-align: center;
	border-radius: 5px;

	min-width: 90px;
	max-width: 20%;
}
#below {
	padding: 0.5rem 1rem;
}
#title,
#date {
	display: inline;
}
#date::before {
	content: "\00a0";
}
#overview {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}
@media (min-width: 768px) {
	#movie {
		max-width: 175px;
		min-height: 360px;

		display: block;
	}
	#movie img {
		max-width: inherit;
		background-color: rgb(209 213 219);
		color: black;
		text-align: center;
	}

	#movie > div {
		padding: 0.75rem 0 0.75rem 0;
	}
	#below {
		height: 75px;
		margin: -0.5rem 1rem 0 1rem;
	}
	#date::before {
		content: "";
	}
	#title {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
	}

	#overview {
		display: none;
	}
}
