#createForm {
	background: white;
	border-radius: 16px;
	height: 100%;
	margin: 0 -1rem 2rem -1rem;
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#createForm > form {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#createButton {
	background: var(--color-3);
	border: 0;
	padding: 1.5rem 0;
	font-size: var(--size-1);
	border-radius: 32px;
	transition: 0.2s all;
	margin-top: 2rem;
	letter-spacing: 1px;
}
#createButton:hover {
	background: var(--color-4);
}
.label {
	font-weight: 600;
}
#input {
	font-size: var(--size-1);
	box-sizing: border-box;
	width: 100%;
	border: 0;
	border-bottom: var(--color-1) 1px solid;
	padding: 1rem;
	resize: none;
	margin-bottom: 1rem;
}
#input:focus {
	outline: 0;
}
.underBody {
	text-align: center;
}
.underBody > a {
	color: inherit;
	transition: font-size 0.2s;
	line-height: 24px;
}
.underBody > a:hover {
	font-size: var(--size-2);
}
@media (min-width: 768px) {
	#createForm {
		margin: 0;
		margin-bottom: 2rem;
	}
	#createForm > form {
		padding: 3rem;
	}
}
