.info {
	font-size: var(--size-0);
}
.date {
	color: grey;
	font-size: var(--size-0);
}
.body {
	color: var(--grey-2);
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	line-clamp: 5;
	-webkit-box-orient: vertical;
}
