#backDrop {
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
	animation-name: fadein;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 0.6s;
	animation-delay: 0.1s;
	animation-fill-mode: forwards;
	opacity: 0;
}
.backDropContainer {
	position: absolute;
	top: 6rem;
	left: 0;
	width: 100%;
	min-height: 480px;
}
#postPage > h1 {
	text-align: center;
	animation-name: fadein;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 0.8s;
	animation-fill-mode: forwards;
	opacity: 1;
}

#postPage > article {
	margin: 0 -1.5rem 1rem -1.5rem;
	background-color: var(--color-3);
	padding: 2rem;
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	height: 100vw;
	border-radius: 16px;
	animation-name: flyin;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

#postDetails {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	text-align: center;
}
#postDetails > div {
	grid-column: span 1 / span 1;
}

@media (min-width: 768px) {
	#postPage > article {
		margin: inherit;
		margin-bottom: 2rem;
	}
	#postPage > h1 {
		padding: 3rem 0;
	}
}

@keyframes flyin {
	0% {
		transform: translate(0px, 200px);
	}
	100% {
		transform: translate(0, 0);
	}
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
