#loginForm {
	margin: 0 -1rem;
	min-width: 430px;
	padding: 3rem 0 3rem 0;
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#loginButton {
	color: inherit;
	font-weight: 500;
	background-color: var(--color-3);
	padding: 1rem 1.5rem 1rem 1.5rem;
	margin: 0.5rem 0 0.5rem 0;
	width: 100%;
	transition: transform 0.3s, background-color 0.3s;
	font-size: var(--size-1);
}
#loginButton:hover {
	cursor: pointer;
	background-color: var(--color-4);
	border-color: transparent;
	transform: perspective(1px) scale(1.025);
}
.or {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	margin: 1rem 0;
}
.or::after,
.or::before {
	content: "";
	width: 200px;
	height: 1px;
	background: black;
	margin: 0 3px;
}
#loginForm > form {
	text-align: center;
	width: 80%;
	margin: auto;
}
#forgotPasswordLink {
	float: right;
}
#newUserLink,
#newUserLink {
	float: left;
}
#forgotPasswordLink,
#newUserLink {
	margin: 1rem;
}
#forgotPasswordLink > a,
#newUserLink > a {
	text-decoration: underline;
	color: var(--color-2);
}
#input {
	font-size: var(--size-1);
	width: 90%;
	border-color: transparent;
	padding: 0.5rem;
}
#input:focus {
	outline: 1px var(--color-2) solid;
}
.label {
	text-align: left;
	margin: 0.5rem 0 0.5rem 0;
}
@media (min-width: 768px) {
	#loginForm {
		width: 30%;
		margin: auto;
	}
	#loginForm > form {
		width: 70%;
	}
}
