#loginForm {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background: white;
	border-radius: 16px;
	margin: 2rem -1rem;
	padding-bottom: 2rem;
	--tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
		0 10px 10px -5px rgba(0, 0, 0, 0.04);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#loginForm > * {
	padding: 0.5rem 1rem;
}
#loginForm > h2 {
	text-align: center;
}
#loginForm > h2 span {
	font-weight: 500;
}
#loginForm > form {
	box-sizing: border-box;
	width: 90%;
	margin: 0 auto;
}

#input {
	font-size: var(--size-1);
	box-sizing: border-box;
	width: 100%;
	border: 0;
	border-bottom: var(--color-4) 2px solid;
	padding: 1rem;
	resize: none;
}
#input:focus,
#input:valid {
	outline: 0;
	border-color: black;
}
#loginButton,
#loginForm button {
	background: var(--color-3);
	padding: 1rem 2rem;
	border: 0;
	border-radius: 20px;
	width: 100%;
	font-size: var(--size-1);
	text-transform: uppercase;
	letter-spacing: 1.25px;
	transition: all 0.3s;
	cursor: pointer;
}
#loginForm button:not(#loginButton) {
	background: var(--color-1);
	color: white;
}
#loginForm button:hover {
	background: var(--color-4);
}
#loginForm button:not(#loginButton):hover {
	background: var(--color-2);
}
#newUserLink {
	text-align: center;
	margin-top: 2rem;
}
#newUserLink a {
	text-decoration: none;
	color: var(--grey-2);
}
.or {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	margin: 1rem 0;
}
.or::after,
.or::before {
	content: "";
	width: 225px;
	height: 1px;
	background: var(--color-4);
	margin: 0 30px;
}
@media (min-width: 768px) {
	#loginForm {
		width: 500px;
		margin: 2rem auto;
		/* margin: 0;
		margin-bottom: 2rem; */
	}
	#loginForm > * {
		padding-top: 2rem;
	}
	#loginForm > form {
		padding: 1rem;
	}
	#newUserLink {
		margin: 2rem 0 -1rem 0;
	}
}
