#seriesContainer {
	display: grid;
	text-align: center;
	grid-template-columns: repeat(1, minmax(0, 1fr));
}
#leftContainer {
	grid-column: span 1 / span 1;
}
#rightContainer {
	grid-column: span 1 / span 1;
}

@media (min-width: 768px) {
	#seriesContainer {
		grid-template-columns: repeat(3, minmax(0, 1fr));
		text-align: left;
	}
	#rightContainer {
		grid-column: span 2 / span 2;
	}
}
@media (min-width: 1280px) {
	#seriesContainer {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
	#rightContainer {
		grid-column: span 4 / span 4;
	}
}
