:root {
	--color-1: #22223b;
	--color-2: #4a4e69;
	--color-3: #edf6f9;
	--color-4: #dfe6e9;
	--color-5: #f2e9e4;
	--size-0: 14px;
	--size-1: 16px;
	--size-2: 18px;
	--size-3: 20px;
	/* background-color: var(--color-5); */
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;

	background: var(--color-3);
}
#main {
	padding-top: 20px;
	margin: 0 2rem;
	width: auto;
}
#main h1 {
	font-size: 48px;
	font-weight: 600;
	animation-name: flyin;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

#main p {
	font-size: var(--size-2);
	animation-name: flyin;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 2s;
	animation-delay: 0.75s;
	animation-fill-mode: forwards;
	opacity: 0;
}
#main div {
	margin-top: 2rem;
	display: flex;
	justify-content: flex-end;
	animation-name: flyin;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-duration: 2s;
	animation-delay: 1.25s;
	animation-fill-mode: forwards;
	opacity: 0;
}
#main div a {
	text-align: right;
}
@keyframes flyin {
	0% {
		transform: translate(0px, 40px);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		animation-timing-function: ease-in-out;
		opacity: 1;
	}
}
#navbar {
	background: white;
	width: 100%;
	min-height: 80px;
	padding: 0.5rem 0;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.06);
	display: flex;
	justify-content: space-between;
}
#title {
	line-height: 100%;
	margin: auto 0 auto 2rem;
	font-size: var(--size-3);
	font-weight: 600;
}

#auth {
	line-height: 100%;
	margin: auto 2rem auto 0;
	font-size: var(--size-0);
}
.link {
	font-size: var(--size-1);
	background: white;
	border-radius: 16px;
	padding: 0.6rem 2rem;
	transition: all 0.2s;
	cursor: pointer;
}
.link:hover,
#navbar .link:hover {
	background: var(--color-4);
}
#navbar .link {
	background: var(--color-3);
}

ul {
	font-size: var(--size-1);
}
li {
	line-height: 50px;
	display: inline;
	text-transform: uppercase;
	padding: 0.5rem 1rem;
}
li:hover {
	cursor: pointer;
	border-bottom: 1px solid #000;
}
#nav-items {
	display: none;
}
#nav-items a,
.link a,
#title a {
	text-decoration: none;
	color: inherit;
}
@media (min-width: 768px) {
	#main {
		padding-top: 100px;
		margin: 0 8rem;
		width: 50%;
	}
	#title {
		margin: auto 0 auto 8rem;
	}
	#auth {
		margin: auto 8rem auto 0;
	}
	#navbar {
		min-height: 0;
	}
	#nav-items {
		display: initial;
	}
}
