.imageColumn {
	width: 75px;
	height: 100px;
	border-radius: 1rem;
	position: relative;
}
.imageColumn img {
	opacity: 0.8;
	cursor: pointer;
	width: auto;
	height: auto;
	margin: auto;
	max-height: 90%;
	max-width: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.imageColumn img:hover {
	opacity: 1;
}
.imagesParent {
	display: flex;
	justify-content: space-between;
}
.imageRow {
	display: flex;
	justify-content: center;
	flex-flow: column;
	margin: 0 auto;
	gap: 1rem;
}
.imageRow::after {
	content: "";
	display: table;
	clear: both;
}
.imageContainer {
	position: relative;
	height: 400px;
	width: 70%;
	background: white;
	border-radius: 1rem;
	text-align: center;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.imageContainer span {
	max-width: 90%;
	margin: 0 auto !important;
}
@media (min-width: 768px) {
	.imagesParent {
		display: block;
	}
	.imageContainer {
		height: 400px;
		width: 300px;
	}
	.imageRow {
		flex-flow: row;
		margin: 1rem 0;
	}
}
