#mediaPage {
	display: grid;
	grid-template-columns: repeat(1, minmax(0, 100%));
	grid-template-areas:
		"d"
		"a"
		"e"
		"f"
		"b"
		"c";
	margin: 0 -1rem;
	gap: 1rem;
}

#mediaPage h2 {
	white-space: nowrap;
	font-size: 32px;
}
#mediaPage h3 {
	margin: 0;
}
.title {
	position: relative;
}
.title div {
	position: absolute;
	bottom: 0.5rem;
}
.images {
	grid-area: d;
}
.title {
	grid-area: a;
}
.notes {
	grid-area: b;
}
.extras {
	grid-area: c;
}
.tabs {
	grid-area: e;
}
.information {
	grid-area: f;
}
.notes,
.extras {
	background: white;
	border-radius: 1rem;
	min-height: 250px;
	padding: 2rem;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.information {
	background: white;
	border-radius: 1rem;
	padding: 2rem;
	margin-top: -1rem;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	line-height: 24px;
}
.information h3 {
	margin-bottom: 1rem !important;
}
@media (min-width: 1025px) {
	#mediaPage {
		grid-template-columns: repeat(4, minmax(0, 25%));
		grid-template-areas:
			"d a a a"
			"d e e e"
			"f b b b"
			"z c c c";
		margin: 2rem 0;
	}
	#mediaPage h2 {
		font-size: 40px;
	}
	.information {
		margin-top: -2rem;
	}
	.notes {
		margin-top: -1rem;
	}
	/* #mediaPage {
		flex-direction: row;
		flex-wrap: wrap;
	} */
	/* #mediaPage {
		flex-direction: row;
		margin: 2rem 0;
	}
	#leftContainer {
		flex: 1;
	}
	#rightContainer {
		flex: 4;
		margin-left: 1rem;
	}
	#rightContainer h2 {
		font-size: 40px;
		margin: 0;
	}
	.information {
		margin: 0 auto;
	} */
}
