#mediaPage {
	display: flex;
	flex-direction: row;
	margin: 2rem 0;
}
#leftContainer {
	flex: 1;
}
#leftContainer .images:first-child {
	min-width: 200px;
	height: auto;
	aspect-ratio: 2/3;
	background: silver;
	text-align: center;
}
#rightContainer {
	flex: 4;
	margin-left: 2rem;
}
#rightContainer h2 {
	margin: 0;
}

.notes,
.extras {
	max-width: 100%;
	background: white;
	border-radius: 16px;
	min-height: 250px;
	margin: 1rem 0;
	padding: 2rem;
}
