:root {
	--color-1: #22223b;
	--color-2: #4a4e69;
	--color-3: #9a8c98;
	--color-4: #c9ada7;
	--color-5: #f2e9e4;
	--size-1: 16px;
	--size-2: 18px;
	--size-3: 20px;
	background-color: var(--color-5);
	font-size: var(--size-1);
}

body {
	margin: 0 2rem 0 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#title {
	margin: 0 2rem 0 2rem;
	font-size: var(--size-3);
}

#footer {
	background-color: var(--color-3);
	padding: 3rem 0 3rem 0;
	margin: 1.5rem -2rem 0 -2rem;
	font-size: var(--size-2);
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

details,
details > div {
	margin-left: 2rem;
}

#root > div > details {
	margin-top: 1rem;
}
.header {
	font-size: var(--size-2);
	padding: 0 0 1.5rem 0;
}
.header-2 {
	font-size: var(--size-3);
}
.header,
.header-2 {
	color: var(--color-1);
	font-weight: 600;
}
