#loginForm {
	margin: 0 0.5rem 0 0.5rem;
	padding: 3rem 0 3rem 0;
	/* border: 2px black solid; */
	--tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
		var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
#loginButton {
	background-color: var(--color-3);
	padding: 1rem 1.5rem 1rem 1.5rem;
	margin: 0.5rem 0 0.5rem 0;
	width: 100%;
	transition: transform 0.1s;
	font-size: var(--size-1);
}
#loginButton:hover {
	background-color: var(--color-4);
	border-color: transparent;
	transform: perspective(1px) scale(1.025);
}
#loginForm > form {
	text-align: center;
	width: 80%;
	margin: auto;
}
#forgotPasswordLink {
	padding-top: 1rem;
}
#forgotPasswordLink > a {
	text-decoration: underline;
	color: var(--color-2);
}
input {
	width: 90%;
	border-color: transparent;
	padding: 0.5rem;
}
textarea:focus,
input:focus {
	/* outline: none; */
	outline: 1px var(--color-2) solid;
}
.label {
	text-align: left;
	margin: 0.5rem 0 0.5rem 0;
}
@media (min-width: 768px) {
	#loginForm {
		width: 30%;
		margin: auto;
	}
	#loginForm > form {
		width: 70%;
	}
}
